

.repolistItems {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-group-item {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.3rem;
    width: 15rem;
    text-align: center;
}
.list-group-item a {
    text-decoration: none;
    font-size: 1rem;
}
.selectedList {
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    margin-right: 3rem;
    padding-left: 1rem;
}
.header {
    text-align: center;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 700;
}
.loading {
    text-align: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 4rem;
}